{% extends "layouts/application.html" %}

{% block title %}Monitor Ontology{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="#"><i class="fa fa-sitemap"></i> Configuration Cluster</a></li>
                <li class="active"><i class="fa fa-desktop"></i> {{ serverid }}</li>
                <li class="text-info pull-right"><strong>Last Snapshot:</strong> 15s ago</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><i class="fa fa-wrench"></i> General</a></li>
                <li><a href="#"><i class="fa fa-gears"></i> Services</a></li>
                <li><a href="#"><i class="fa fa-desktop"></i> System</a></li>
                <li><a href="#"><i class="fa fa-sitemap"></i> Interface-0</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Email</a></li>
            </ul>
        </div>
        <!-- /.col-lg-12 -->

        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Query results
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% if results %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        {% for var in results.vars %}
                                            <th>{{ var }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in results %}
                                        <tr>
                                            {% for col in row %}
                                                <td>{{ col }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    {% else %}
                        <div class="jumbotron">
                            <p>No results found in ontology</p>
                        </div>
                    {% endif %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
{% endblock %}
